body {
    font: 14px 'Inter', sans-serif;
}

p {
    font: 14px 'Inter', sans-serif;
}

.gourmacracy-main-container {
    margin-top: 100px;
}

h2 {
    font-weight: bold;
    font-family: 'TT Norms Pro', sans-serif;
}

h3 {
    font-weight: bold;
    font-family: 'TT Norms Pro', sans-serif;
}

table {
    table-layout:fixed;
    margin: 0px;
    padding: 0px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

th {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

@media only screen and (max-width: 480px) {
    .table {
        overflow-x: auto;
        display: block;
    }
}

.gourmacracy-logo-container {
    height: 4em;
    position: relative
}

.gourmacracy-logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a {
    color: #DB9232;
}

a:link {
    text-decoration: none;
}

.gourmacracy-button {
    width:100%;
    height: 40px;
    display:block;
    border-radius: 25px;
    background-color: #DB9232;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.gourmacracy-button-secondary {
    width:100%;
    height: 40px;
    display:block;
    border-radius: 25px;
    background-color: #fbf4ea;
    color: #DB9232;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.gourmacracy-nav-bar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid;
    border-bottom: #323232;
    box-shadow: 0 5px 5px #E5E5E5;
}

.gourmacracy-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gourmacracy-nav-bar li {
    float: right;
}

.gourmacracy-nav-bar li a {
    font: 20px 'Inter', sans-serif;
    font-weight: bold;
    display: block;
    color: #323232;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.gourmacracy-nav-bar li a:hover:not(.active) {
    background-color: #E5E5E5;
}

.gourmacracy-nav-bar .active {
    color: #DB9232;
}

.nav.navbar-nav li a {
    color: #454545;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.nav.navbar-nav {
    border: transparent;
}

hr {
    /*!* border: 1px solid #4596D8; *!*/
    /*border: none;*/
    /*border-bottom: 1px solid #323232;*/
    /*box-shadow: 0 20px 20px #E5E5E5;*/
}

h1, h2 {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.menu-item {
    margin: 15px;
    padding: 10px;
    border: solid #DB9232;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgrey;
}

.star-checked {
    color: #DB9232;
    font-size: 20px;
    cursor: pointer;
}

.star-unchecked {
    color: lightgrey;
    font-size: 20px;
    cursor: pointer;
}

.container-form {
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-form-users {
    margin-top: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-center {
    margin: 0;
    width: 550px
}
.container-secondary-btn {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 10px
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 10px
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 10px
}

.gourmacracy-menu-header-container {
    height: 20em;
    position: relative
}

.gourmacracy-menu-header-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gourmacracy-menu-header-wrapper {
    display: inline-block;
    width: 800px;
    height: 250px;
    border-radius: 10px;
}

.gourmacracy-menu-output-container {
    height: 123em;
    position: relative;
}

.gourmacracy-menu-output-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gourmacracy-epic-eats-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 140px;
    box-shadow:
            0 5px 10px 0px rgba(0,0,0,0.22),
            0 10px 13px 0px rgba(0,0,0,0.34),
            inset 0 18px 18px 0 rgba(255,255,255,0.35),
            inset 0 -18px 18px 0 rgba(0,0,0,0.10);
}

.gourmacracy-epic-eats-pos {
    position: absolute;
    top: 100%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gourmacracy-past-orders-output-container {
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.gourmacracy-nav-bar-index {
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 600px;
    border-bottom: 1px solid;
    border-bottom: #323232;
    box-shadow: 0 5px 5px #E5E5E5;
    padding-right: 20px;
    background-image: url('../images/gourmacracy-index-nav-img.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.gourmacracy-nav-bar-index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gourmacracy-nav-bar-index li {
    float: right;
}

.gourmacracy-nav-bar-index li:nth-child(1) {
    position: absolute;
    height: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gourmacracy-nav-bar-index li a {
    font: 20px 'Inter', sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sign-up-index {
    color: #454545;
}

.sign-in-index {
    color: white;
}

.gourmacracy-nav-bar-index .active {
    color: #DB9232;
}

.index-nav-bar-content-center {
    font-size: 75px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 850px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gourmacracy-main-container {
    margin-top: 50px;
}

.gourmacracy-button {
    width:100%;
    height: 40px;
    display:block;
    border-radius: 25px;
    background-color: #DB9232;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.rate-order-button {
    margin-bottom: 5em;
}

/* centered index images */

* {
    box-sizing: border-box;
}

.gourmacracy-index-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.gourmacracy-index-row::after {
    content: "";
    clear: both;
    display: table;
}

.hover:hover {
    cursor: pointer;
}
