body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #4596D8;
}
.nav-li {
    color: #4596D8;
    font-size: 25px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav.navbar-nav li a {
    color: #4596D8;
    font-size: 25px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav.navbar-nav {
    border: transparent;
}

hr {
    /* border: 1px solid #4596D8; */
    border: none;
    border-bottom: 2px solid #4596D8;
}

h1, h2 {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.product-removal-1 {
}
.remove-product-1 {
}
.product-price-1 {
}
.product-quantity-1{}
#cart-subtotal-1 {}