body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #4596D8;
}

.nav.navbar-nav li a {
  color: #4596D8;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Dosis';
}

.nav.navbar-nav {
  border: transparent;
}

hr {
  border: 1px solid #4596D8;
}

h1, h2 {
  font-family: 'Dosis';
}