body {
  font: 14px 'Inter', sans-serif;
}

a {
  color: #4596D8;
}

.gourmacracy-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gourmacracy-nav-bar li {
  float: right;
}

.gourmacracy-nav-bar li a {
  font: 20px 'Inter', sans-serif;
  font-weight: bold;
  display: block;
  color: #323232;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gourmacracy-nav-bar li a:hover:not(.active) {
  background-color: #E5E5E5;
}

.gourmacracy-nav-bar .active {
  color: #DB9232;
}

.nav.navbar-nav li a {
  color: #4596D8;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.nav.navbar-nav {
  border: transparent;
}

hr {
  /* border: 1px solid #4596D8; */
  border: none;
  border-bottom: 1px solid #323232;
  box-shadow: 0 20px 20px #E5E5E5;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.menu-item {
  margin: 5px;
  padding: 10px;
  border: solid lightgrey;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
  height: 95px;
  cursor: pointer;
}

.menu-item:active {
  background: lightgrey;
}

.star-checked {
  color: rgb(255,213,0);
  font-size: 20px;
  cursor: pointer;
}

.star-unchecked {
  color: lightgrey;
  font-size: 20px;
  cursor: pointer;
}
