body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #4596D8;
}

.nav.navbar-nav li a {
  color: #4596D8;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Dosis';
}

.nav.navbar-nav {
  border: transparent;
}

hr {
  /* border: 1px solid #4596D8; */
  border: none;
  border-bottom: 3px solid #4596D8;
}

h1, h2 {
  font-family: 'Dosis';
}

html {
  scroll-behavior: smooth;
}

.menu-item {
  margin: 5px;
  padding: 10px;
  border: solid lightgrey;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
  height: 95px;
  cursor: pointer;
}

.menu-item:active {
  background: lightgrey;
}
